#chart{

  .activity{
    position: relative;
    display: block;
    width: 837px;
    height: 516px;
    
    .label {
      font-size: 2.6em;
      padding-top:6px;
      color: black;
      position: absolute;
      left: 70px;
    }
    .value {
      position: absolute;
      left: 728px;
      text-align: left;
      font-size: 1.6em;
      right: 10px;
      color: #0099d9;
      padding-top: 16px;
    }
    .row1{
      top: 75px;
    }
    .row2{
      top: 167px;
    }
    .row3{
      top: 257px;
    }
    .row4{
      top: 347px;
    }
    .dragarea{
      position: absolute;
      display: block;
      width:465px;
      height:66px;
      left: 243px;
      
      .handle{
        right: 0px;
        position: absolute;
        top: 5px;
        width: 30px;
        height: 54px;
      }
      .level{
        background-color: $main-color;
        background-image: url("../img/can.png");
        background-repeat: repeat-x;
        right: 0px;
        position: absolute;
        width: 0px;
        height: 100%;
      }
    }
    .background{
      position: absolute;
      display: block;
      top:0;
      left:0;
      width: 837px;
    }
    #submitWrap{
      position: absolute;
      width:100%;
      top: 425px;
      #submitBtn{
        background-color: red;
        color: white;
        font-size: 1.8em;
        font-weight: 400;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        padding: 10px;
        border-radius: 40px;
        display: none;
      }
    }
    .instruct{
      position: absolute;
      font-size: 1.6em;
      right: 10px;
      color: #0099d9;
      padding-top: 16px;
      padding-right: 45px;
      text-align:right;
    }
  }
}