#chart{

  .activity{
    position: absolute;
    display: block;
    width: 837px;
    height: 516px;
    
    .dragarea{
      position: absolute;
      display: block;
      width:465px;
      height:66px;
      background-color:rgba(164,69,71,0.05);
      
      .handle{
        right: 0px;
        position: absolute;
        top: 5px;
        width: 38px;
        height: 54px;
      }
      .level{
        background-color: $main-color;
        right: 0px;
        position: absolute;
        width: 0px;
        height: 100%;
      }
    }
    #area1{
      top: 75px;
      left: 243px;
    }
    #area2{
      top: 167px;
      left: 243px;
    }
    #area3{
      top: 257px;
      left: 243px;
    }
    #background{
      position: absolute;
      display: block;
      top:0;
      left:0;     
    }
    #submitWrap{
      position: absolute;
      width:100%;
      top: 425px;
      #submitBtn{
        background-color: red;
        color: white;
        font-size: 1.8em;
        font-weight: 400;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        padding: 10px;
        border-radius: 40px;
        display: none;
      }
    }
    .instruct{
      position: absolute;
      font-size: 1.6em;
      right: 10px;
      color: #0099d9;
      padding-top: 16px;
      padding-right: 45px;
      text-align:right;
    }
  }
}