<footer>
  <div id="groupTitle" class="footerBlock">
    <div id="groupHead" class="footerHead"><p>Current Section</p></div>
    <div id="groupText" class="footerContent"><p>111</p></div>
  </div>
  
  <div id="groupPage" class="footerBlock">
    <div id="pageHead" class="footerHead"><p>Page</p></div>
    <div id="pageText" class="footerContent"><p></p></div>
  </div>
  
  <div id="groupTime" class="footerBlock">
    <div id="timeHead" class="footerHead"><p>Time Remaining</p></div>
    <div id="timeText" class="footerContent"><p></p></div>
  </div>

  <div id="chapterNames">
    <p class="footerTitle" data-group="main">Pepsi Tech Map</p>
  </div>
</footer>
