<!DOCTYPE html>
<html>
  <head>
    <title>Cheers!</title>
    <link rel="stylesheet" href="./css/main.css">
    <script type="text/javascript" src="./js/shared/lib/jquery/jquery-1.8.2.js"></script>

    <script type="text/javascript" src="./js/shared/lib/jquery/ui/jquery.ui.core.js"></script>
		<script type="text/javascript" src="./js/shared/lib/jquery/ui/jquery.ui.widget.js"></script>
		<script type="text/javascript" src="./js/shared/lib/jquery/ui/jquery.ui.mouse.js"></script>
		<script type="text/javascript" src="./js/shared/lib/jquery/ui/jquery.ui.draggable.js"></script>

    <script type="text/javascript" src="./js/shared/lib/jquery/jQuery.XDomainRequest.js"></script>
    <script type="text/javascript" src="./js/shared/lib/jquery/jquery.jplayer.js"></script>
    <script type="text/javascript" src="./js/shared/lib/jquery/jquery.hammer.js"></script>
    <script type="text/javascript" src="./js/shared/lib/jquery/jquery.hotkeys.js"></script>

    <script type="text/javascript" src="./js/shared/lib/utils.js"></script>
    <script type="text/javascript" src="./js/shared/lib/json2.js"></script>
    <script type="text/javascript" src="./js/shared/lib/class.js"></script>
    <script type="text/javascript" src="./js/shared/dom/DOM.js"></script>
    <script type="text/javascript" src="./js/shared/dom/Dictionary.js"></script>
    <script type="text/javascript" src="./js/shared/audio/Audio.js"></script>
    <script type="text/javascript" src="./js/shared/storage/Storage.js"></script>

    <script type="text/javascript" src="./js/shared/lab/Interaction.js"></script>
    <script type="text/javascript" src="./js/shared/lab/DragInteraction.js"></script>
    <script type="text/javascript" src="./js/shared/lab/DropInteraction.js"></script>
    <script type="text/javascript" src="./js/shared/lab/ClickInteraction.js"></script>
    <script type="text/javascript" src="./js/shared/activities/Activity.js"></script>

    <script type="text/javascript" src="./js/shared/page/Page.js"></script>

    <script type="text/javascript" src="./js/shared/module/Module.js"></script>

		<script type="text/javascript" src="./js/shared/parser/DataParser.js"></script>
    <script type="text/javascript" src="./js/shared/parser/json-parser/JSONParser.js"></script>
    <script type="text/javascript" src="./js/shared/parser/json-parser/NedJSONParser.js"></script>

		<script type="text/javascript" src="./js/shared/marge/MargeLoader.js"></script>
		
		
		<script type="text/javascript" src="./js/activities/TripleChartSliderActivity.js"></script>
		<script type="text/javascript" src="./js/module/MapDialogueModule.js"></script>
		<script type="text/javascript" src="./js/page/TechMapPage.js"></script>
    <script src="./js/main.js"></script>
  </head>
  <body>
    <noscript> No Javascript</noscript>
    <!-- <%- partial("_header") %> -->

    <section class='main'>
      <%- yield %>
      <div id="cornerIcon">
        <img src="img/int-curl.png">
      </div>
    </section>

    <%- partial("_footer") %>
    <div id="pageSelector"></div>
    <div id="pageName"></div>
    <div id="audioPlayer"></div>
    <div id="nextButton"></div>
    <div id="previousButton"></div>
    <div id="helpContainer"></div>
    <div id="help"></div>
    <div id="bottomText"></div>
    <div id="titleSection"></div>
    <div id="currentPage"></div>
    <div id="totalPages"></div>
  </body>
</html>
