
      <div id="chapterBackground"> </div>
      <ul class="chapterMenu">
        <li data-group="main">Introduction</li>
        <li data-group="a">A. Consumers</li>
        <li data-group="b">B. Competition</li>
        <li data-group="c">C. Behind the Revolution</li>
        <li data-group="d">D. Volume and Profitability</li>
      </ul>