<div id="first" class="page">
  <div class="column-wrap">
    <div class="column">
      <img src="./img/client-logo.svg" width="290px">
      <h1>The Revolution on Beverage Street</h1>
    </div>
    <div class="column">
      <img src="./img/intro-img.png">
    </div>
  </div>
  <p>Swipe left to start film introduction.</p>
</div>

<div id="second" class="page">
  <video src="./vid/Root_Pepsi_Internal_v2.mp4" poster="./vid/vid-poster.png" controls></video>
</div>

<div id="third" class="page">
  <p>The Carbonated Soft Drink Volume Growth billboard at the upper left highlights the growth of the entire carbonated soft drink industry. <strong>Describe the trends on this chart.</strong></p>
</div>

<div id="fourth" class="page">
  <p>Now, <strong>describe the Population Trend card.</strong></p>
</div>

<div id="fifth" class="page">
  <p>As a group, use the tablet to guess the average weekly carbonated soft drink consumption by Baby Boomer age-bracket.</p>
  <p><strong>Swipe left to begin.</strong></p>
</div>

<div id="chart" class="page">
  <img src="./img/chart.png">
</div>

<div id="end" class="page">
  <p>This concludes the session. Thank you.</p>
</div>
