<div id="first" class="page verticalCenter horizontalCenter">
  <img src="./img/client-logo.svg" width="290px">
  <h1 class="splashTitle">The Revolution on<br/>Beverage Street</h1>
  <img id="mapImage" src="./img/intro-img.png">
  <p> </p>
  <p class="instruction">Swipe left to start film introduction.</p>
</div>

<div id="second" class="page verticalCenter">
  <video src="./vid/Root_Pepsi_Internal_v2.mp4" poster="./vid/vid-poster.png" controls></video>
</div>

<div id="instruction" class="page verticalCenter horizontalCenter">
  <p>Welcome to the <strong>Revolution on Beverage Street</strong>.  In this learning experience,
    we will use a visual and discussion questions to explore information and share thoughts and insights.  Today,
    we’ll look at the big picture of our business.</p>
  <p>Pepsi-Cola and its products have long been a visible part of the American landscape.  However, the Beverage
    Street that we serve is undergoing a revolution.  The consumer is in the driver’s seat of our business.  
    The tastes, needs, and values of the consumer have changed dramatically.  So have consumer lifestyles and 
    shopping patterns or shopping occasions.  The consumer-led revolution on Beverage Street involves consumers, 
    retailers, and our competition.  We’re all involved.  Pepsi people, products, and processes must now all 
    respond to these powerful market forces.  We’ll explore these consumer-led business forces in this session.</p>
</div>

<div id="a1" class="page verticalCenter">
  <p class="sectionTitle">A. Consumers</p>
  <p>The <em>Carbonated Soft Drink Volume Growth</em> billboard at the upper left highlights the growth of the entire carbonated soft drink industry. <strong>Describe the trends on this chart.</strong></p>
</div>

<div id="a2" class="page verticalCenter">
  <p>On average, the carbonated soft drink category has grown by 4.8% per year over the past several years, but growth has been slowing, with recent gains of only 1% to 3%.  What do you think is responsible for this slowdown in carbonated soft drink growth?</strong></p>
</div>

<div id="a3" class="page verticalCenter">
  <p>How important is this trend for Pepsi?</p>
</div>

<div id="a4" class="page verticalCenter">
  <p>Next, look at the <em>Consumers Seek Variety</em> chart at the lower left.  Read the annual growth rates for each beverage sector.</p>
</div>

<div id="a5" class="page verticalCenter">
  <p>Which of these annual growth figures surprises you most? Why?</p>
</div>
<div id="a6" class="page verticalCenter">
  <p>What are some of the reasons behind this surge in new beverages? Is this a threat or an opportunity for us?</p>
</div>
<div id="a7" class="page verticalCenter">
  <p>The 76 million Baby Boomers born between 1946 and 1964 have a tremendous impact on product and service 
  offerings. For the past 30 years, the drinking habits of these consumers have been a driving force in the 
  demand for soft drinks. Review the life stages of the Baby Boomers. Read the information on the arrows near 
  the Baby Boomers’ cars at the center of the visual. </p>
</div>

<div id="a8" class="page verticalCenter">
  <p>Now, describe the <strong>Population Trend card</strong>.</p>
</div>

<div id="a9" class="page verticalCenter">
  <p>As a group, use the tablet to guess the average weekly carbonated soft drink consumption by Baby Boomer age-bracket.</p>
  <p><strong>Swipe left to begin.</strong></p>
</div>

<div id="chart" class="page verticalCenter horizontalCenter">
  <div class="activity">
    <img id="background" src="./img/chart_back.png">
    
    <div class="label row1">25-34</div>
    <div id="area1" class="dragarea row1">
      <div class="instruct"> Drag to guess </div>
      <div class="level"></div>
      <div class="handle  ui-draggable">
        <img src="img/red_arrowhead.png">
      </div>
    </div>
    <div class="value row1"> 0 </div>
    
    <div class="label row2">35-44</div>
    <div id="area2" class="dragarea row2">
      <div class="instruct"> Drag to guess </div>
      <div class="level"></div>
      <div class="handle  ui-draggable">
        <img src="img/red_arrowhead.png">
      </div>
    </div>
    <div class="value row2"> 0 </div>
    
    <div class="label row3">45-54</div>
    <div id="area3" class="dragarea row3">
      <div class="instruct"> Drag to guess </div>
      <div class="level"></div>
      <div class="handle  ui-draggable">
        <img src="img/red_arrowhead.png">
      </div>
    </div>
    <div class="value row3"> 0 </div>
    
    <div class="label row4">55 & Over</div>
    <div id="area4" class="dragarea row4">
      <div class="instruct"> Drag to guess </div>
      <div class="level"></div>
      <div class="handle  ui-draggable">
        <img src="img/red_arrowhead.png">
      </div>
    </div>
    <div class="value row4"> 0 </div>
    <div id="submitWrap">
      <div id="submitBtn">Submit</div>
      <div class="response hide">Here are the correct answers.</div>
    </div>
  </div>
</div>


<div id="chart2" class="page verticalCenter horizontalCenter">
  <div class="actWrap">
    <div>
      <p>Consider this consumption information and the population data together. How might 
      these trends impact Pepsi’s volume over the next 10 years?</p>
    </div>
    <div class="activity">
      <img id="background" src="./img/chart_back.png">

      <div class="label row1">25-34</div>
      <div id="area1" class="dragarea row1">
        <div class="level"> </div>
      </div>
      <div class="value row1"> 13.4 </div>
      <div class="value row1 population"> -16% </div>

      <div class="label row2">35-44</div>
      <div id="area2" class="dragarea row2">
        <div class="level"> </div>
      </div>
      <div class="value row2"> 12.3 </div>
      <div class="value row2 population"> +17% </div>

      <div class="label row3">45-54</div>
      <div id="area3" class="dragarea row3">
        <div class="level"></div>
      </div>
      <div class="value row3"> 10.2 </div>
      <div class="value row3 population"> +47% </div>

      <div class="label row4">55 & Over</div>
      <div id="area4" class="dragarea row4">
        <div class="level"></div>
      </div>
      <div class="value row4">6.1 </div>
      <div class="value row4 population"> +12% </div>
        
    </div>
  </div>
</div>




<div id="b1" class="page verticalCenter">
  <p class="sectionTitle">B. Competition</p>
  <p>All of us who work on Beverage Street know that pricing is a key issue. Describe the
    information on the <em>Tracking Pepsi Prices and Inflation</em> billboard at the right.</p>
</div>

<div id="b2" class="page verticalCenter">
  <p>Why do you think Pepsi pricing has lagged so far behind the inflation rate?</p>
</div>
<div id="b3" class="page verticalCenter">
  <p>Do you think we will be able to increase our prices during the next several years? Why
or why not?</p>
</div>
<div id="b4" class="page verticalCenter">
  <p>How do you think our Coke competition would respond to any increase in our prices?</p>
</div>
<div id="b5" class="page verticalCenter">
  <p>Describe the information on the <em>National Private Label Growth in Supermarkets</em> billboard
at the upper left.</p>
</div>

<div id="b6" class="page verticalCenter">
  <p>Food stores have been offering private labels for years. However, only in recent years have
we seen dramatic increases in sales volume. Today, many food store chains offer private
labels such as Master’s Choice or President’s Choice. Winn-Dixie, Safeway, Kroger, Richfoods,
and A&P private labels have all shown double-digit growth in recent years. This is far above
the growth rate for our industry as a whole. What do you think is behind the recent surge
in private label volume?</p>
</div>
<div id="b7" class="page verticalCenter">
  <p>Do you believe that private label quality has changed in recent years? If so, how?</p>
</div>
<div id="b8" class="page verticalCenter">
  <p>In your opinion, does the private label sector represent a serious threat for Pepsi? Explain
your response.</p>
</div>

<div id="b9" class="page verticalCenter">
  <p>Today, sports drinks are becoming more and more popular. Consumers often perceive these
as healthy alternatives to traditional carbonated soft drinks. Read and describe the information
on the white car and white truck at the lower right. How do you think Pepsi should respond
to the “New Age” beverage competition?</p>
</div>
<div id="b10" class="page verticalCenter">
  <p>Take a long look up and down Beverage Street. In your opinion, how has our competition
changed over the last 30 years?</p>
</div>
<div id="b11" class="page verticalCenter">
  <p>What do you believe our toughest competitive challenges will be in the next few years?</p>
</div>

<div id="c1" class="page verticalCenter">
  <p class="sectionTitle">C. Behind the Revolution</p>
  <p>The three major shopping occasions shown at the bottom illustrate the purchasing habits
of consumers. Explain each of these shopping occasions in your own words.</p>
</div>
<div id="c2" class="page verticalCenter">
  <p>Now, match the three <em><strong>Shopping Occasion cards</strong></em> to the images they best fit. We’ll check
our card placements.</p>
</div>
<div id="c3" class="page verticalCenter">
  <p>Are you surprised by any of the information on these cards? If so, what?</p>
</div>
<div id="c4" class="page verticalCenter">
  <p>In your opinion, which shopping occasion represents the greatest opportunity for Pepsi
total beverage sales growth? Why?</p>
</div>


<div id="d1" class="page verticalCenter">
  <p class="sectionTitle">D. Volume and Profitability</p>
  <p>Also important to the marketplace is <u>where</u> we deliver our products. Places that sell soft drinks
are shown along Beverage Street. Read these aloud.</p>
</div>
<div id="d2" class="page verticalCenter">
  <p>Where do you believe we deliver most of our products? As a group, let’s use the <em><strong>Volume Sold
cards</strong></em> to rank the distribution outlets. Place the number 1 where you believe we have the highest
volume and continue to rank the volume through number 7. Then, we’ll check our answers.</p>
</div>

<div id="d3" class="page verticalCenter">
  <p>Now, let’s do the same exercise with the <strong><em>Profitability cards</em></strong>, placing the number 1 on
    the outlet that generates the <u>most</u> profit, and so on. Then, we’ll check our answers.</p>
</div>
<div id="d4" class="page verticalCenter">
  <p>What is the overall story you see in volume and profitability?</p>
</div>
<div id="d5" class="page verticalCenter">
  <p>What should we do to help us grow our business and become more profitable?</p>
</div>
<div id="d6" class="page verticalCenter">
  <p>Finally, take one last look at the story you’ve seen unfold on Beverage Street. Let’s discuss
some of our major observations and conclusions.</p>
</div>


<div id="end" class="page verticalCenter">
  <p>This concludes the session. Thank you.</p>
</div>
