<div id="first" class="page verticalCenter">
  <img src="./img/client-logo.svg" width="290px">
  <h1>The Revolution on<br/>Beverage Street</h1>
  <img src="./img/intro-img.png">
  <p> </p>
  <p>Swipe left to start film introduction.</p>
</div>

<div id="second" class="page verticalCenter">
  <video src="./vid/Root_Pepsi_Internal_v2.mp4" poster="./vid/vid-poster.png" controls></video>
</div>

<div id="third" class="page verticalCenter">
  <p>The Carbonated Soft Drink Volume Growth billboard at the upper left highlights the growth of the entire carbonated soft drink industry. <strong>Describe the trends on this chart.</strong></p>
</div>

<div id="fourth" class="page verticalCenter">
  <p>Now, <strong>describe the Population Trend card.</strong></p>
</div>

<div id="fifth" class="page verticalCenter">
  <p>As a group, use the tablet to guess the average weekly carbonated soft drink consumption by Baby Boomer age-bracket.</p>
  <p><strong>Swipe left to begin.</strong></p>
</div>

<div id="chart" class="page verticalCenter">
  <div class="activity">
    <img id="background" src="./img/chart_back.png">
    <div id="area1" class="dragarea">
      <div class="level"></div>
      <div class="handle  ui-draggable">
        <img src="img/red_arrowhead.png">
      </div>
    </div>
    <div id="area2" class="dragarea">
      <div class="level"></div>
      <div class="handle  ui-draggable">
        <img src="img/red_arrowhead.png">
      </div>
    </div>
    <div id="area3" class="dragarea">
      <div class="level"></div>
      <div class="handle  ui-draggable">
        <img src="img/red_arrowhead.png">
      </div>
    </div>
  </div>
</div>

<div id="end" class="page verticalCenter">
  <p>This concludes the session. Thank you.</p>
</div>
