<div id = "first" class="page">
  <p data-lang = "1"></p>
  <h1>The Revolution on Beverage Street</h1>
  <p>Swipe left to start film introduction.</p>
</div>

<div id = "second" class="page">
  <video src=""></video>
</div>

<div id = "third" class="page">
  <p>The Carbonated Soft Drink Volume Growth billboard at the upper left highlights the growth of the entire carbonated soft drink industry. <strong>Describe the trends on this chart.</strong></p>
</div>

<div id = "fourth" class="page">
  <p>Now, <strong>describe the Population Trend card.</strong></p>
</div>

<div id = "fifth" class="page">
  <p>As a group, use the tablet to guess the average weekly carbonated soft drink consumption by Baby Boomer age-bracket.</p>
  <p><strong>Swipe left to begin.</strong></p>
</div>

<div id = "first" class="page">
  <p>This concludes the session. Thank you.</p>
</div>
